<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>User management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
    <div sec:authorize="hasRole('PREVIOUS_ADMINISTRATOR')" class="alert alert-info" style="position:fixed; z-index: 9999;">
        <a th:href="@{/switch_user_exit}">Return to admin</a>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" href="welcome/index.html">User management</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${(#httpServletRequest.requestURI.equals('/')) ? 'active' : ''}"><a th:href="@{/}" href="welcome/index.html">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:classappend="${(#httpServletRequest.requestURI.equals('/login')) ? 'active' : '' }" sec:authorize="!isAuthenticated()"><a href="../login.html" th:href="@{/login}">Login</a></li>
                    <li sec:authorize="isAuthenticated()" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span sec:authentication="name"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" th:href="@{/profile}">Profile</a></li>
                            <li sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')"><a href="#" th:href="@{/admin}">Admin</a></li>
                            <li class="divider"></li>
                            <li><a href="#" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div layout:fragment="content">
            Fake content
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2015 Spring boot users management boilerplate</p>
        </div>
    </footer>
</body>
</html>