<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <title>User management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" href="welcome/index.html">User management</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${(#httpServletRequest.requestURI.equals('/')) ? 'active' : ''}"><a th:href="@{/}" href="welcome/index.html">Home</a></li>
                    <li th:classappend="${(#httpServletRequest.requestURI.equals('/users')) ? 'active' : '' }"><a th:href="@{/users}" href="users/index.html">Users</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div layout:fragment="content">
            Fake content
        </div>
        <footer>
            <div>&copy; 2015 Footer</div>
        </footer>
    </div>
</body>
</html>